<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <title>Taaza Khabr</title>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Kunal Kanti Paul"/>
    <meta name="keywords" content="Taaza Khabr, news"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
  </head>
  <body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">
      <!-- BEGIN header -->
      <div id="header">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="https://portfolio-tch0.onrender.com/">Contact Me</a></li>
        </ul>
        <p class="rss"> <span id="datetime"></span> </p>
        <h1><a href="#">Taaza Khabr</a></h1>
      </div>
      <!-- END header -->
      <!-- BEGIN content -->
      <div id="content">
        {% for news in state_news %}
        <!-- begin post -->
        <div class="post">
          <p class="details1">March 15, 2009 / <a href="#">{{state_name}}</a></p>
          <div class="buffer">
            <div class="content">
              <h2><a href="#">{{news.title}}</a></h2>
            </div>
            <p class="details2"><a href="{{news.link}}" target="_blank">Read More</a></p>
          </div>
        </div>
        <!-- end post -->
        {% endfor %}
      </div>
      <!-- END content -->
      <!-- BEGIN sidebar -->
      <div id="sidebar">
        <!-- begin popular articles -->
        <div class="box">
          <h2>Read News on particular state</h2>
          <ul>
            {% for state in state_list %}
            <li><a href="/state_news?st={{state}}">{{state}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- end popular articles -->
      </div>
      <!-- END sidebar -->
    </div>
    <!-- END wrapper -->
    <!-- BEGIN footer -->
    <div id="footer">
      <p>Copyright &copy; 2025 - <a href="#">Taaza Khabr</a> &middot; All Rights Reserved | Developed by: <a href="https://portfolio-tch0.onrender.com/">Kunal Kanti Paul</a> </p>
    </div>
    <!-- END footer -->
    <script>
      var dt = new Date();
      document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
  </body>
</html>
